@import "./_variables.scss";
@import "./buttons.scss";
// @import "./title.scss";
// @import "./interactions.scss";

.body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $background-color;
  display: flex;
}

.line {
  position: absolute;
  left: -4%;
  bottom: 40%;
  width: 150%;
  height: 50%;
  z-index: -1;
  transform: rotate(40deg);
  background-color: $line-color;
}

.buttonsContainer {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.addquestion {
  flex: 1;
}

.buttons {
  position: absolute;
  bottom: 11%;
  left: 10%;
  display: flex;
  flex-direction: column;
}

.title {
  position: absolute;
  left: 10%;
  top: 10%;
  font-weight: bold;
  color: $font-color;
  font-family: "Open Sans", sans-serif;
  text-shadow: 5px 5px #fdf1d767;
  font-size: 6rem;
}
.title::selection{
  color: $line-color;
  text-shadow: 5px 5px $font-color;
}

.picture {
  flex: 1;
  height: 100%;
  width: 100%;
}