// $item-color: #9ac7b9; //#73B5A8 // #32A492 //
$background-color: #e66759;
$line-color: #9ac7b9;
$font-color: #fdf1d7;


/**
  * Mobile
**/

$mobile-line-deg: 65deg;
$mobile-line-start: 65%;
$mobile-line-end: 80%;

/**
  * Desktop
**/
$desktop-line-deg: 65deg;
$desktop-line-start: 50%;
$desktop-line-end: 75%;


